.marquee_outer{
    display: flex;
}
.marquee_inner {
    float: left;
    font-size: 22px;
    font-weight: 600;
    position: relative;
    padding-left: 47px;
}
.marquee_inner:after {
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    background: #8C5812;
    border-radius: 50%;
    top: 13px;
    left: 19px;
}

    .marquee-container{   background: #FFA723;
    height: 89px;
  
}
